
@{
    ViewData["Title"] = "ShowRegistration";
}

<h1>Register for our Coffee Club</h1>

<form method="post" action="/home/DisplayProfile">
    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName" /><br />
    Email: <input type="text" name="Email" /><br />
    Phone Number: <input type="text" name="PhoneNumber" /><br />
    Birthday: <input type="text" name="Birthday" /><br />
    Favorite Drink: <input type="text" name="FavoriteDrink" /><br />
    Password: <input type="text" name="Password" /><br />
    Confirm Password: <input type="text" name="ConfirmPassword"/><br />
    <input type="submit" />


</form>

